
.destination-tab ul li a{
    position: relative;
    cursor: pointer;
}
.destination-tab ul li a:before{
    position: absolute;
    content: "";
    background-color: white;
    opacity: 50%;
    height: 3px;
    width: 0%;
    bottom: -5px;
    transition: .2s;
    left: 50%;
    transform: translate(-50%);
}
.destination-tab ul li a:hover::before{
    width: 100%;
}
.destination-tab ul li a.active::before{
    width: 100%;
    opacity: 100%;
}

@media screen and (min-width:640px) {
ul li a{
    position: relative;
    cursor: pointer;
}
ul li a:before{
    position: absolute;
    content: "";
    background-color: white;
    opacity: 50%;
    height: 3px;
    width: 0%;
    bottom: -36px;
    transition: .2s;
    left: 50%;
    transform: translate(-50%);
}
ul li a:hover::before{
    width: 100%;
}
ul li a.active::before{
    width: 100%;
    opacity: 100%;
}
}


@media screen and (max-width:640px) {
    .navbar ul li{
        height: 30px;
    }
    .navbar ul li a{
        margin-top: 3px;
        margin-bottom: 3px;
        position: relative;
        cursor: pointer;
    }
    .navbar ul li a:before{
        position: absolute;
        content: "";
        background-color: white;
        opacity: 50%;
        height: 0px;
        width: 4px;
        bottom: -36px;
        transition: .2s;
        right: -2px;
        top: -3px;
        transform: translate(-50%);
    }
    .navbar ul li a:hover::before{
        height: 30px;
    }
    .navbar ul li a.active::before{
        height: 30px;
        opacity: 100%;
    }
}